@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<body>
    <p>
        Large companies already have resources for finding innovation, new products, new methods, and inventions. It can be rightfully assumed that this is an advantage for them, and it is. The downside for them is when disruptive innovation happens, forcing typically college trained thinkers to adjust to something they weren’t trained or hired to do. The ideas might not be good enough or the expense of the innovation via company methods can get very high, which gets passed on to the customer.
        Ignoring internet myths and reading biographies about Thomas Edison and other inventors shows the formula for how they were so creative, innovative, and tenacious. Ironically, colleges study them even though they wouldn’t admit them as students.
        The beautiful world of technology can make it easier for small businesses to get access to their own Thomas Edison, Sally Fox, Nikola Tesla, Marie Curie, Lewis Latimer, Marion Donovan, or Alexander Graham Bell.
    </p>
    <p>Thousands of inventors of all walks of life have created items you use or have used. Some of them had ideas owned by their Company and made little to nothing from the effort. The more famouse ones did not, hence the reason for their fame.</p>
</body>
