@{
    ViewBag.Title = "Edison Finder";
}

<div class="jumbotron">
    <h1>Edison Finder</h1>
    <p class="lead">Welcome to the place for talented inventors and those seeking them out.</p>
    <p><a href="http://www.biography.com/people/groups/famous-inventors" class="btn btn-primary btn-lg">Famous Inventors &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The goal</h2>
        <p>
            How many businesses want access to good ideas and inventions? How many inventors want to solve small business needs?
        </p>
        <p>How many more ideas and inventions will show up if small businesses and innovators have a chance to meet to discus?</p>
        <p>Inventors, join and post your ideas (even if they have already been invented) in a concept and businesses join to see if an inventor has ideas you like and is in your area and meet them.</p>
        <p>Practice due dillegence and make sure your ideas can be protected.</p>
        <p><a class="btn btn-default" href="http://patft.uspto.gov/">Patent Search &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Inventor</h2>
        <p>Simply put: You have more than just one idea, so post the simple concept (such as "coffee maker" or a "training robot") or your ideas so that members can see them.</p>
        <p>The reality is this:  Being super secret and paranoid is a waste of time. Your idea will not get stolen because you said you have an idea for the best fitness bracelet or an electric car. If you publish information, make prototypes and put them on Youtube, etc without patent protection, then you risk it all.</p>

        <p><a class="btn btn-default" href="http://www.amazon.com/From-Patent-Profit-Third-Edition-ebook/dp/B001NEJNQ4/ref=dp_kinw_strp_1">The Best Inventors Book &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Business</h2>
        <p>Checkout the ideas and see if some has an idea or can create an idea that you can turn into a business advantage. You know your market and having access to innovators and talent can only help. </p>
        
    </div>
   
</div>